services:
  postgres:
    image: postgres:16-alpine
    container_name: marcelodiani-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev
      POSTGRES_DB: marcelodiani
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
